.dtgTable tr td.actions span {
    padding: 2px 4px;
}

    .dtgTable tr td.actions span.sortHandle {
        cursor: move;
    }

.dtgTable .umb-sortable-thumbnails li {
    width: 80px !important;
    height: 66px !important;
}

.dtgTable .list-icons li {
    padding-left: 25px;
}

    .dtgTable .list-icons li > i.icon {
        display: none;
    }

.dtgTable input, .dtgTable textarea {
    width: 90%;
    /*max-width: 140px;*/
}

.dtgTable select {
    max-width: 100px;
}

.umb-bottom-bar {
    z-index: 1040;
}

.btn-add {
    float: right;
}
